* {
    box-sizing: border-box;
}

body {
    background: #558cff;
}

@mixin size ($width, $height){
    width: $width;
    height: $height;
}

.wrap {
    background: #558cff;
    @include size(450px, 90px);
    border-radius: 60px;
}