* {
  box-sizing: border-box; }

body {
  background: #558cff; }

.wrap {
  background: #fff;
  width: 450px;
  height: 90px;
  border-radius: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0 5px 40px -20px shade(#000, 40%); }
  .wrap .circle {
    background: #FFDA67;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin: 15px 10px 0 0;
    transition: 0.2s ease; }
    .wrap .circle:hover {
      transform: scale(1.3); }
    .wrap .circle:first-child {
      margin-left: 20px; }
    .wrap .circle img {
      width: 100%; }
    .wrap .circle p {
      color: #fff;
      margin-top: -110px;
      background: rgba(0, 0, 0, 0.5);
      padding: 4px 10px;
      border-radius: 60px;
      font-weight: 100;
      opacity: 0; }
    .wrap .circle:hover p {
      opacity: 1;
      font-size: 14px;
      font-weight: lighter; }
