* {
  box-sizing: border-box; }

.reactions-main {
  position: relative;
  margin: auto;
  width: 500px;
  height: 200px;
  background: #558cff; }

.anim, .wrap .circle:nth-child(1), .wrap .circle:nth-child(2), .wrap .circle:nth-child(3), .wrap .circle:nth-child(4), .wrap .circle:nth-child(5), .wrap .circle:nth-child(6) {
  animation: slide 0.3s; }

@keyframes slide {
  0% {
    opacity: 0;
    margin-top: 40px; }
  100% {
    opacity: 1;
    margin-top: 15px; } }

.wrap {
  background: #fff;
  width: 450px;
  height: 90px;
  border-radius: 60px;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 50%);
  box-shadow: 0 5px 40px -20px shade(#000, 40%); }
  .wrap .circle {
    background: #ffda67;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin: 15px 10px 0 0;
    transition: 0.2s ease; }
    .wrap .circle:hover {
      transform: scale(1.3); }
    .wrap .circle:first-child {
      margin-left: 20px; }
    .wrap .circle img {
      width: 100%; }
    .wrap .circle p {
      color: #fff;
      margin-top: -110px;
      background: rgba(0, 0, 0, 0.5);
      padding: 4px 10px;
      border-radius: 60px;
      font-weight: 100;
      opacity: 0; }
    .wrap .circle:hover p {
      opacity: 1;
      font-size: 14px;
      font-weight: lighter; }

.hide {
  display: none;
  transition: 0.3s linear; }

#reaction {
  width: 35px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px; }
  #reaction:hover {
    cursor: pointer; }
  #reaction:focus {
    color: none; }
