.display {
  background-color: #fee8f5;
  border-color: #0000;
  width: 280px;
  height: 25px;
  margin: auto;
  font-size: 20px;
  font-weight: 100; }

.button {
  width: 40px;
  height: 30px;
  border: 1px, #ffffff;
  border-color: #ffffff;
  background: #fee8f5;
  outline: none;
  font-size: 10px;
  font-weight: 100;
  padding: 0px 0px 0px 0px; }
  .button:hover {
    background-color: #fddef0; }

.button:focus,
button:active {
  width: 39px;
  height: 28px;
  border: 5px;
  padding: 0px 0px 0px 0px; }
